table.recap{
	border-collapse: collapse;
	border: 2px solid #0033CC;
	font: normal 80%/140% arial, verdana, helvetica, sans-serif;
	color: #000;
	background: #fff;
}
caption.recap {
	padding: 0 0.6em 0.8em;
	font-size: 1.3em;
	font-weight: bold;
	text-align: left;
	color: #000;
	background: transparent;
}
td.recap, th.recap {
	border: 1px solid #e0e0e0;
	padding: 0.5em;
	text-align: center;
}
thead th.recap {
	border: 1px solid #e0e0e0;
	text-align: left;
	font-size: 1em;
	background: #99ccff;
}
tfoot th.recap, tfoot td.recap {
	border: 1px solid #e0e0e0;
	text-align: left;
	font-size: 1em;
	background: #ffcc66;
}
tfoot th.recap {
	font-weight: bold;
}
tbody td a.recap {
	background: transparent;
	color: #00c;
	text-decoration: underline;
}
tbody td a.recap:hover {
	background: transparent;
	color: #00c;
	text-decoration: underline;
}
tbody th a.recap {
	background: transparent;
	color: #3f7c5f;
	text-decoration: underline;
	font-weight: bold;
}
tbody th a.recap:visited {
	color: #b98b00;
}
tbody th.recap, tbody td.recap {
	vertical-align: top;
	text-align: left;
}
tfoot td.recap {
	border: 1px solid #996;
}
tbody tr.recap:hover {
	background: #ffffd9;
}
