body {
	overflow: hidden;
}

.home-page-container p {
    margin-bottom: 0;
}

.home-page-container .login {
    margin-bottom: 30px;
}

.home-page-container .coachmark {
    width: 318px;
    height: 110px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.home-page-container {
    min-width: 398px;
    background-color: #ffffff;
}      

.home-page-container img {
    height: 48px;
    width: 48px;
    margin-right: 20px;
}


.home-page-container .header {
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
    height: 210px;
    padding: 30px 40px 30px 40px;    
    
}

.home-page-container .content-welcome, .home-page-container .content-summary {
    margin-bottom: 30px;    
}

.home-page-container .header p, .home-page-container .header span{
    color: white;
}


.home-page-container .content {
    background-color: white;
    padding: 30px 40px 0 40px;  
    width: 398px;  
    margin: 0 auto;    
}

.home-page-container .content .summary {
    margin-bottom: 50px;
}

.home-page-container .content .item-list {
    margin-bottom: 50px; 
}

.home-page-container .content .item-list img {
    margin-left: 15px; 
}

