body {
	background-color: #FFFFFF;
	font-family: Verdana, sans-serif;
	font-size: 80%;
	color: #333333;
}

h1 { color: #FB7203; font-size: 140%; font-weight: bold; }
h2 { color: #FB7203; font-size: 130%; font-weight: bold; }
h3 { color: #FB7203; font-size: 120%; font-weight: bold; }
h4 { color: #FB7203; font-size: 100%; font-weight: bold; }
h5 { color: #FB7203; font-size:  90%; font-weight: bold; }
h6 { color: #FB7203; font-size:  80%; font-weight: bold; }

tt { font-family: Courier New, Courier; font-size: 110%; font-weight: normal;}

code { font-family: Courier New, Courier; font-size: 110%; font-weight: normal;}

pre { font-family: Courier New, Courier; font-size: 110%; font-weight: normal;}
p {margin-top: 4mm; margin-bottom: 1mm;}
ol {margin-bottom: 2mm;}

ul {margin-bottom: 2mm;}

table { font-size: 100%; border-collapse: collapse }
td.tech  { font-weight: bold; font-style: italic; color: white; background-color: #000080}
td.use   { font-weight: bold; font-style: italic; color: white; background-color: #C21616}
td.quick { font-weight: bold; font-style: italic; color: white; background-color: #008000}
p.tech   { font-weight: bold; font-style: italic; color: white; background-color: #000080 }

table.code { background-color: #E0E0E0; width: 100%; margin-bottom: 2mm; margin-top: 2mm}
td.code { background-color: #E0E0E0; }
pre.code {background-color: #E0E0E0; width: 100%}
table.abstract { background-color: #F0F0FF; width: 100%; margin-bottom: 2mm; margin-top: 2mm}
th { font-weight: bold;}
caption { font-weight: normal; font-style: italic;}

a         { color: #333333; text-decoration: none; }
a:link    { color: #FB7203; text-decoration: none; }
a:visited { color: #FB7203; text-decoration: none; }
a:hover   { text-decoration: underline; }

a.dynmenu         { color: black; text-decoration: none }
a.dynmenu:link    { color: #FB7203; font-size: 100%;  font-weight: bold; text-decoration: none }
a.dynmenu:visited { color: #FB7203; font-size: 100%;  font-weight: bold; text-decoration: none }
a.dynmenu:hover   { color: #FB7203; font-size: 100%;  font-weight: bold; text-decoration: underline}
.homeTab 	{
  color: #FFFFFF;
  background-color: #003366;
  cursor: pointer;
  border-right: 1px solid #99ccff;
  border-bottom: 1px solid #99ccff;
}
.homeBand 			{
  color: #FFFFFF;
  background-color: #003366;
  border-right: 1px solid #99ccff;
  border-bottom: 1px solid #99ccff;
}

.homeTabSelected 		{
  color: #ccffcc;
  background-color: #6699CC;
  cursor: default;
  border-top: 2px outset #99ccff;
  border-right: 2px outset #336699;
}

td.tabLikeTable {
  background-color: #6699CC;
}

td.tabLikeTableBottom {
  background-color: #6699CC;
  vertical-align: top;
}

a.homeTabLink                 {text-decoration:none; color: white;   cursor: default; font-weight: normal; }
a.homeTabLink:link            {text-decoration:none; color: white;   cursor: default; font-weight: normal;}
a.homeTabLink:visited         {text-decoration:none; color: white;   cursor: default; font-weight: normal;}
a.homeTabLink:hover           {text-decoration:none; color: white;   cursor: pointer; font-weight: normal; background-color: #6699CC}

a.homeTabLinkSelected         {text-decoration:none; color: #ccffcc; cursor: default; font-weight: normal; }
a.homeTabLinkSelected:link    {text-decoration:none; color: #ccffcc; cursor: default; font-weight: normal;}
a.homeTabLinkSelected:visited {text-decoration:none; color: #ccffcc; cursor: default; font-weight: normal;}
a.homeTabLinkSelected:hover   {text-decoration:none; color: #ccffcc; cursor: default; font-weight: normal; background-color: #6699CC}

p.title      { font-size: 100%; font-weight: bold; margin-bottom: 0 }
p.link       { margin-bottom: 0 }
td.link      { margin-bottom: 0 }
a.title         { color: #FB7203; font-size: 100%; font-weight: bold; }
a.title:link    { color: #FB7203; font-size: 100%; font-weight: bold; }
a.title:visited { color: #FB7203; font-size: 100%; font-weight: bold; }
a.title:hover   { color: #FB7203; font-size: 100%; font-weight: bold; text-decoration: underline; }

dt.glossaryTerm { font-weight: bold; }

table.fill td {
	border: 2px solid #FFFFFF;
	background-color: #F2F2F2;
	padding: 2px;
}

table.fill th {
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold;
	text-align: left;
	color: #024F9C;
	background-color: #E0E0E0; 
	border:2px solid #FFFFFF; 
	height: 20px;
	padding: 2px; }
img { border: none; }

span.comment {
	color: #008000;
}

span.keyword {
	color: #0000FF;	
}

span.sample {
	color: #FF0000;	
}

td.auto {
	margin-top: 0px;
	padding-top: 0px;
	vertical-align: top;
	font-size: 0pt;
	overflow: hidden;
	white-space: nowrap;
}

