/* CSS Document */

body { background-color: #F9F9F9; }
body,td,th {
	font-family: Helvetica, Tahoma, sans-serif;
	font-size: 13px;
	color: #333333;
}

a:link { color: #003366; }
a:visited { color: #0066CC; }
a:hover { color: #0066CC; }

.header_link:link {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.header_link:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
a.header_link:hover {
	color: #CCCCCC;
	text-decoration: underline;
}
.footer {
	font-size: 12px;
	color: #666666;
}

.red { color: #CC0000; }
.white { color: #FFFFFF; }

.small { font-size: 12px; }
.large { font-size: 14px; }
