body
{
  font-family: Verdana, Helvetica, sans serif;
  font-weight: normal;
  color: #000000;
  font-size: 8pt;
}

h1
{
  font-weight: normal;
  font-family: Arial;
  font-size: x-large;
  color: #025BB5;
  padding: 4px;
  margin-top: 50pt;
  margin-bottom: 10pt;
  margin-left: 4px;
  text-align: center;
  background-color: #D2E6FE;
  width: 100%;
}

h2
{
  font-family: Verdana, Helvetica, sans serif;
  font-size: 13pt;
  font-weight: normal;
  color: #025BB5;
  margin-top: 4pt;
  margin-bottom: 2pt;
  margin-left: 4px;
  padding-top: 5px;
  text-align: center;
}

h3
{
  font-family: Verdana, Helvetica, sans serif;
  font-size: 10pt;
  font-weight: bold;
  color: #025BB5;
  margin-top: 15pt;
  margin-bottom: 10pt;
  margin-left: 4px;
  padding-top: 5px;
  text-align: center;
}

table
{
  border-collapse: collapse;
  margin-top: 5px;
}

td
{
  font-family: Verdana, Helvetica, sans serif;
  font-size: 8pt;
  font-weight: normal;
}

th
{
  font-family: Verdana, Helvetica, sans serif;
  font-size: 8pt;
  letter-spacing: -0.05em;
  font-weight: bold;
  text-align: left;
  color: #024F9C;
  background-color: #E0E0E0;
  height: 20px;
  padding: 2px;
}
