html, tbody, .report-main, .uk-active, .uk-table {
    height: 100%;
}

tbody, tr {
    display: block;
}

body {
    /* Tab margin-top: 20px */
    height: calc(100% - 20px);
}

tbody {
    overflow-y: auto;
}

tr {
    width: 100%;
}

.uk-tab {
    margin-bottom: 0px !important;
}

.uk-table {
    margin-top: 0px !important;
}

.my-id {
    /* Tab Height: 32px */
    height: calc(100% - 32px);
}

