.productListName
{
	border: solid 2px black;
	text-align:right;
	vertical-align:middle;
	font-family:Sans-Serif;
	font-size:medium;
	font-weight:bold
}
.productList
{
	border: solid 2px black;
	text-align:left;
	vertical-align:middle;
	font-family:Arial;
	font-size:small;
}

.resultsTable
{
	border-collapse:collapse;
	border: solid 2px black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.robotName
{
	border: solid 2px black;
	background-color:#ECECEC;
	text-align:center;
	font-weight:bold;
	font-family:Arial;
	font-size:large;
}
.propertiesHeader
{
	font-family:Sans-Serif;
	font-weight:bolder;
	font-size:x-large;
}
.propertyName
{
	font-family:Arial;
	font-size:medium;
	font-weight:lighter;
}

.weldName
{
	font-family:Sans-Serif;
	font-weight:normal;
	font-size:small;
	border: solid 2px black;
	text-align:center;
	vertical-align:middle;
}

.weldResultsFrame
{
	padding: 2px 2px 2px 2px;
}

.weldResults
{
	border-collapse:collapse;
}

.weldResult
{
	border: solid 2px black;
	text-align:center;
	vertical-align:middle;
	font-family:Arial;
	font-size:smaller;
}
.weldResultHead
{
	border: solid 2px black;
	background-color:#ECECEC;
	text-align:center;
	font-weight:bold;
	font-family:Arial;
	font-size:medium;
}
.canvasDataTable
{
	display:none;
}
.canvasParent
{
	position:relative;
	background-color:#ECECEC;
}
canvas
{
	border: 1px solid black;
}
#pieLabelClass
{
	overflow:hidden;
	position:absolute;
	z-index:11;
	width:50px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	text-align:left;
	vertical-align:top;
	color:black;
	padding: 0px;
}
