/*
//==============================================================================
// COPYRIGHT Dassault Systemes 2010
//==============================================================================
//
// PPRStyleSheet.V02.css
//
//==============================================================================
//  Usage:
//  ------
//     This Style Sheet is used in JobXML file generated through 
//     CreateXML-Command or SOI
//==============================================================================
// HISTORY:
//    LFS 2010/08/05 Creation, In addition to IR-062302V5R20
//==============================================================================
*/
Simulation {
	display:none;
} 

PPRDataSet-JOB:before
{
	background-color:#538620;
	color:#FFF;
	display:block;
	font-size:200%;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* margin:40%; */
	padding: 0.5em;
	content:"PPRDataSet-JOB";
	text-align:center;
}
PPRDataSet-JOB
{
   display: block;
   margin: 10 5 10 5 ;
   padding: 2 2 2 2;
   border-style:solid;
   border-width: 1;
   border-color: #000000;
   background-color: #CCCCCC;
   background-color: #A2CD5A;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size:11px;
}
ProcessHeader:before
{
	background-color:#538620;
	border-bottom-width:0;
	color:#FFF;
	font-size:130%;
	font-weight:bold;
	margin:0em;
	content:"Process Header";
	padding:0.5em;
	display:block;
	text-align:left;
	text-decoration: underline;
}
ProcessHeader, PLAN_HEADER, Process,PPRDataSet-JOB Resources,PPRDataSet-JOB Products
{
	background-color:#DBEEBB;
	border:1px double #538620;
	clear:both;
	display:block;
	padding:0 0 0.1em;
	margin:1em;
}
ProcessHeader BLOBDetails:before
{
	background-color:#53C620;
	color:#FFF;
	display:block;
	font-size:100%;
	font-weight:bold;
	text-align:left;
	margin:0;
	border:1;
	padding:0.5em;
	content:"BLOB Details";
}

ProcessHeader BLOBDetails
{
   
	border:1px dotted #538620;
	clear:both;
	display:block;
	margin:0.5em 1em 0.5em 1em;
}
BlobName, BlobUUID,BlobOID
{
	/* border:1px dotted #538620; */
	clear:both;
	display:block;
	padding:0 0 0.1em;
	margin:0.1em 1em 0.1em 1em;
}
BlobName:before{
	display:inline;
	padding:0.5em;
	content:"BlobName:";
	text-decoration:underline;
}
BlobUUID:before{
	display:inline;
	padding:0.5em;
	content:"BlobUUID:";
	text-decoration:underline;
}
BlobOID:before{
	display:inline;
	padding:0.5em;
	content:"BlobOID:";
	text-decoration:underline;
}

JOBUUID,JobOID, JobPDMID
{
	/* border:1px dotted #538620; */
	display:block;
	padding:0 0 0.1em;
	margin:0.1em 1em 0.1em 1em;
}
PPRTitle
{
	background-color:#66CDAA;
	color:#FFF;
	font-size:200%;
	display:block;
	padding:0.5em;
	margin:0.1em 1em 0.1em 1em;
	text-align:center;
	text-decoration:underline;
}

JOBUUID:before{
	display:inline;
	padding:0.5em;
	content:"JobUUID:";
	text-decoration:underline;
}
JOBUUID:before{
	display:inline;
	padding:0.5em;
	content:"JobUUID:";
	text-decoration:underline;
}
JobOID:before{
	display:inline;
	padding:0.5em;
	content:"JobOID:";
	text-decoration:underline;
}
JobPDMID:before{
	display:inline;
	padding:0.5em;
	content:"JobPDMID:";
	text-decoration:underline;
}
PPRTitle:before{
	display:inline;
	padding:0.5em;
	content:"Name:";
	text-decoration:underline;
}

PPRDataSet-JOB PLAN_HEADER:before
{
	background-color:#538620;
	border-bottom-width:0;
	color:#FFF;
	font-size:130%;
	font-weight:bold;
	margin:0;
	content:"Plan Headers";
	padding:0.5em;
	display:block;
	text-align:left;
	text-decoration: underline;
}
PPRDataSet-JOB OPERATION_SUMMARY:before
{
	display:inline;
	padding:0.5em;
	content:"Operation Summary:";
	text-decoration:underline;
}
PPRDataSet-JOB OPERATION_SUMMARY
{
	border:1px dotted #538620;
	clear:both;
	display:block;
	padding:0.5em;
	margin:0.5em 1em 0.5em 1em;
}
Process:before
{
	background-color:#538620;
	border-bottom-width:0;
	color:#FFF;
	font-size:130%;
	font-weight:bold;
	margin:0;
	content:"Plan Headers";
	padding:0.5em;
	display:block;
	text-align:left;
	text-decoration: underline;
}

Process Operation{
	background-color:#DBEFBB;
	border:1px dashed #C0C0C0;
	clear:both;
	display:block;
	padding:0.1em;
	margin:0.5em 10em;
}
Process Operation:before
{
	background-color:#53C620;
	border-bottom-width:0;
	color:#FFF;
	display:block;
	font-size:100%;
	font-weight:bold;
	margin:0;
	padding:0.1em;
	content:"Operation :";
}
Process Operation OperationTitle{
	background-color:#53C620;
	color:#FFF;
	display:block;
	font-size:100%;
	font-weight:bold;
	text-align:center;
	margin:0;
	border:1;
	padding:0.5em;
}
Process Operation OperationID:before{
	display:inline;
	padding:0.5em;
	content:"OID:";
	text-decoration:underline;
}
Process Operation OperationID{
	background-color:inherit;
	clear:both;
	display:block;
	padding:0 0 0.1em;
	margin:1em;
}
ResourcesList,ItemsList {
	background-color:inherit;
	clear:both;
	display:block;
	padding:0 0 0.1em;
	margin:0.1em 1em 0.1em 1em;
	text-decoration: underline;
}
ResourcesList ResourceTitle,ItemsList ItemsTitle {
	display:block;
	text-decoration: underline;
	padding:0.5em;
}

URLActivity,Viewpoint{
	background-color:inherit;
	clear:both;
	display:block;
	padding:0 0 0.1em;
	margin:0.1em 1em 0.1em 1em;
}
CycleTime:before{
	display:inline;
	padding:0.5em;
	content:"CycleTime:";
	text-decoration:underline;
}
CycleTime{
	background-color:inherit;
	display:block;
	padding:0 0 0.1em;
	margin:0.1em 1em 0.1em 1.5em;
}
WorkInstructions,DataCollection,InspectionBuyOff{
	background-color:inherit;
	clear:both;
	display:block;
	padding:0 0 0.1em;
	margin:0.1em 1em 0.1em 1em;
}
WorkInstructionsTitle,URLActivityTitle{
	display:block;
	margin:0.5em;
	text-decoration:underline;
}
EyePosition{
	background-color:inherit;
	display:inline;
	margin:0.5em;
	text-decoration:underline;
}
EyePosition XCoord,EyePosition YCoord,EyePosition YCoord, {
	background-color:inherit;
	display:inline;
	margin:0.5em;
}

SubActivity {
	background-color:#C0DDBB;
	border:2px solid #C0C0C0;
	clear:both;
	display:block;
	margin:0.5em 1em 0.5em 6em;
}
SubActivity:before{
	background-color:#538620;
	border-bottom-width:0;
	color:#FFF;
	display:inline;
	font-size:90%;
	font-weight:bold;
	margin:1;
	padding:0em 1em;
	content:"SubActivity";	
}
ActivityID:before{
	display:inline;
	padding:0.5em;
	content:"Activity ID:";
	text-decoration:underline;
}
ActivityID{
	clear:both;
	display:block;
	padding:0 0 0.1em;
	margin:1em;
}
JobSpecs {
	background-color:inherit;
	clear:both;
	display:block;
	padding:0 0 0.1em;
	margin:0.1em 1em 0.1em 1em;
	text-decoration:underline;
}
JobSpecs JobSpecsTitle
{
   margin:0.5em;
}

ActivityTitle
{
   display: block;
   color: black;
   text-decoration: underline;
   font-size: medium;
   text-align: left;
}

TextMessage
{
   display: block;
}

URLLink
{
   display: inline;
   text-decoration: underline;
   color: blue;
}

WordDoc,PDFDoc, HTMLDocument, ASCIIDoc
{
   display: block;
}

ImageContent,Image
{
	clear:both;
	display:block;
	padding:0 0 0.1em;
	margin:1em;
}
ImageTitle
{
	background-color:#FFFFEE;
	clear:both;
	display:block;
	padding:0 0 0.1em;
	margin:1em;
}
DataCollection,InspectionBuyOff
{
   visibility: hidden;
}
ProductTitle1
{
   display: block;
   color: black;
   text-decoration: underline;
   font-size: medium;
   text-align: left;
}

PPRDataSet-JOB Resources ResourceTitle,PPRDataSet-JOB Products ItemsTitle{
	background-color:#538620;
	border-bottom-width:0;
	color:#FFF;
	font-size:130%;
	font-weight:bold;
	margin:0;
	padding:0.5em;
	display:block;
	text-align:left;
	text-decoration: underline;
}

CATProduct,Product,Resource
{
	clear:both;
	display:block;
	padding: 0 0.5 0 0.5em;
	margin:1em;
}
