/*
//==============================================================================
// COPYRIGHT Dassault Systemes 2002
//==============================================================================
//
// PPRStyleSheet.css
//
//==============================================================================
//  Usage:
//  ------
//     This Style Sheet is used in JobXML file generated through 
//     CreateXML-Command or SOI
//==============================================================================
// HISTORY:
//    KSS 2002/03/10 Creation
//    LFS 2010/08/05 Modification for IR-062302V5R20
//==============================================================================
 */

PPRDataSet-JOB {
border: #cccccc;
border-style: inset;
border-width: thin;
/* position: static; */
height: 100%;
width: 100%;
visibility: visible;
}

ProcessHeader {}

PPRTitle {
display: block;
color: navy;
font-size: x-large;
text-align: center;
text-decoration: underline;
}

Process {
display: inline;
/* position: relative; */
}

Operation {
display: inline;
}

OperationTitle {
display: block;
color: black;
text-decoration: underline;
font-size: medium;
text-align: left;
}

Activity {
display: block;
padding-left: .5em;
}

ActivityTitle {
display: block;
color: black;
text-decoration: underline;
font-size: medium;
text-align: left;
}

WorkInstructions {
display: block;
padding: 1em;
width: auto;
}

WorkInstructionsTitle {
display: block;
color: black;
text-decoration: underline;
font-size: medium;
text-align: left;
}

TextMessage {
display: block;
}

URLActivity {
display: block;
padding: 1em;
}

URLActivityTitle {
display: block;
color: black;
text-decoration: underline;
font-size: medium;
text-align: left;
}

URLLink {
display: inline;
text-decoration: underline;
color: blue;
}

CycleTime {
display: block;
visibility: hidden;
}

Simulation {
visibility: hidden;
}

ResourcesList {
display: block;
padding-left: 1em;
}

ResourcesListTitle {
display: block;
color: black;
text-decoration: underline;
font-size: medium;
text-align: left;
}

CATProduct {
display: block;
padding-left: 1em;
}

ItemsList {
display: block;
padding-left: 1em;
}

ItemsListTitle {
display: block;
color: black;
text-decoration: underline;
font-size: medium;
text-align: left;
}

JobSpecs {
display: block;
/* position: relative;*/
top: -16em;
padding: 1em;
}

JobSpecsTitle {
display: block;
color: black;
text-decoration: underline;
font-size: medium;
text-align: left;
}

WordDoc {
display: block;
}

PDFDoc {
display: block;
}

HTMLDocument {
display: block;
}

ASCIIDoc {
display: block;
}

ImageTitle {
display: block;
color: blue;
font-size: medium;
clear: left;
padding-left: 60%;
padding-top: 10em;
/* position: relative; */
top: -20em;
height: 10em;
}

ImageContent {}

Image {
display: block;
border: thin purple solid;
height: auto;
width: auto;
float: right;
clear: left;
/* position: relative; */
top: -20em;
}

DataCollection {
visibility: hidden;
}

InspectionBuyOff {
visibility: hidden;
}

Resource {
display: block;
border: thin inset;
}

ResourceTitle {
display: block;
color: black;
text-decoration: underline;
font-size: medium;
text-align: left;
}

Product {
display: block;
border: thin inset;
}

ProductTitle {
display: block;
color: black;
text-decoration: underline;
font-size: medium;
text-align: left;
}
