/*    This Style Sheet is applied to the WorkInstructions Xml file generated 
 *	  dynamically by the Simulation Commands in DPM Shop to give the WI Window
 *	  a Customized look as defined in this CSS
 *    December 18 2003  	Creation:   ksreeniv				
 */

WorkInstruction {
color: #0000ff;
border: 2px ridge #cfcfcf;
display: block;
page-break-before: always;
visibility: visible;
padding-left: 1em;
padding-bottom: 1em;
padding-top: 1em;
padding-right: 1em;
background-color: #efefef;
}

OPERATION{
	background: Aqua;
	border: groove;
	font: Arial;
	visibility: hidden;
}

