

address,
blockquote, 
body, dd, div, 
dl, dt, 
form,
h1, h2, h3, h4, 
h5, h6, 
ol, p, 
ul,  
center, dir, 
hr, menu, pre   { 

display: block;

}

/*
li              { display: list-item }
*/
li		{ display: block }

head,
title,
style,
script,
frame,
frameset,
noframes, noscript          { display: none }


body            { padding: 8px;}
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .83em 0 }
h3              { font-size: 1.17em; margin: 1em 0 }
h4, p,
blockquote, ul,
ol, dl, dir,
menu            { margin: 0.75em 0 }

h5              { font-size: .83em; margin: 1.67em 0 }
h6              { font-size: .67em; margin: 2.33em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em, dfn,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre; margin-top: 1em; margin-bottom: 1em}
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub             { vertical-align: bottom } /* sub */
sup             { vertical-align: top }	/* super */
s, strike, del  { text-decoration: line-through }

hr		{ 
			border: 1px inset;
			padding-top: 1px;
			margin-top: 10px;
			margin-bottom: 10px;
		}


ol, ul, dir,
menu, dd        { margin-left: 40px }	/* or padding? */
ol              { list-style-type: decimal }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
center          { text-align: center }



html {display: block;}

button {
	display: inline; 
	background-color: silver; 
	padding: 3px;
	border: 2px outset white; 
}
button:hover {
	border: 2px solid black;
}
button:active {
	border: 2px inset white;
}
button:focus {
	border: 2px solid black;
}
button[disabled] {
	border: 2px solid gray;
	color: gray;
}


a:link {color: blue; text-decoration: underline; cursor: pointer;}
a:visited {color: purple; text-decoration: underline; cursor: pointer}
a:link:active, a:visited:active {
	color:red;
}

a:link:focus, a:visited:focus {
	color: red; 
	outline: dashed 1px red;
}



td > *:first-child, 
td > * > *:first-child, 
body > *:first-child,
body > * > *:first-child {
	margin-top: 0;
}

td > *:last-child {
	margin-bottom: 0;
}


html {height: 100%;}

br:before { content: "\A" }
br[clear] {display:block;}

ol, ul, menu, dir {
	counter-reset: _hcount 0;
}

li:before {
	display: marker;
	content: counter(_hcount,disc);
	counter-increment: _hcount 1;
	padding-right: 4px;
}

ol > li:before {
	content: counter(_hcount,decimal);
}

li > *:first-child {
	margin-top: 0;
}

fieldset {
	display: block;
	border: 1px solid black;
        padding: 4px;
	margin: 1em 2px;
}
legend {
	display: block;
	border-bottom: 1px solid black;
	margin-bottom: 0.3em;
}

input, select, textarea {
	vertical-align: bottom;
	color: black;
}

input[type=hidden] {
	display: none;
}

input[type=image] {cursor: pointer;}

table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }

table, tbody, tfoot, thead {
	text-align: auto;
}

td[nowrap] {white-space: nowrap;}


input, textarea, select {
	font-family: "SansSerif";
	font-size: 7.5pt;
	font-weight: normal;
}
