h1
{
  font-size: 10pt;
  font-family: Verdana, Helvetica, sans serif;
  font-weight: bold;
  color: #025BB5;
  text-decoration: none;
  line-height: 10pt;
}

h2
{
  font-size: 8pt;
  font-family: Verdana, Helvetica, sans serif;
  font-weight: normal;
  color: black;
  text-indent: 10pt;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 5pt;
}
