
.dataTitle
{
    position: absolute;
    top : 50px;
    left: 150px;
    color: #1A171B;
    font-size: large;
    white-space: nowrap;
}

.dataSubTitle
{
    position: absolute;
    top : 75px;
    left: 150px;
    color: #1A171B;
    font-size: small;
    white-space: nowrap;
}

.dataGrid
{
    position: absolute;
    top : 100px;
    left: 20px;
}

.dataGridOnglet
{
    background-color: white;
    position: absolute;
    top : 110px;
    left: 0px;
    font-size: 11px;
    width: 100%;
    padding-left:20px;
}

.dataGridHeaderStyle
{
    background-color:#b0c4de;
    font-weight: bold;
}

.dataGrid table, .dataGridOnglet table {
    border-collapse:collapse;
    font-size: 11px;
}

.dataGrid td, .dataGridOnglet td {
    border:1px solid #b0b0b0;
	padding-left:3px;
	padding-right:3px;
}

.tableWithoutBorder td {
    border:0;
}

.tableWithBorder td {
    border:1px solid #b0b0b0;
	padding-left:3px;
	padding-right:3px;
}


#top 
{
  background: transparent url(../pictures/Top_Bar_Layer_Top.png) repeat-x left top;
  color: #EEE;
  height: 44px;
  line-height: 44px;
  position: absolute;
  top:0px;
  left: 0px;
  width: 100%;
  font-size: 1em;
  color:White;
}

#top .logo-3ds {
  position: absolute;
  top: 5px;
  left: 16px;
  background: transparent url(../pictures/3ds_Logo.png) top no-repeat;
  width: 32px;
  height: 32px;
}

#top .title {
  position: absolute;
  top: 0px;
  left: 160px;
  color: #fff;
  z-index: 78;
  font-size: 16px;
  display: inline-block;
}

#top .home {
	position: absolute;
	right: 10px;
	top: 5px;
	float:right;
	background: transparent url(../pictures/ToolbarMenuIcons.png) no-repeat -78px 5px;
    width: 24px;
    height: 29px;
    line-height: 29px;
}

#top .help {
	position: absolute;
	right: 40px;
	top: 5px;
	float:right;
	background: transparent url(../pictures/ToolbarMenuIcons.png) no-repeat -105px 5px;
    width: 24px;
    height: 29px;
    line-height: 29px;
}

/* Compass */
#top .compass {
	position:absolute;
	top:5px;
	left: 7px;
	background: url(../pictures/compass.png) -124px -620px no-repeat;
	width: 64px;
    height: 64px;
    z-index: 1000;
}

#top .compass-ct {
    position: absolute;
    top: 0px;
    left: 58px;
    height: 76px;
    width: 77px;
    background: url(../pictures/Top_Bar_Layer_Top_Rounded_part.png) 0 0 no-repeat;
    z-index: 0;
}

.menu { /* menu a onglets */
  position:absolute;
  top: 100px ; /* marge intérieure haute */
  left: 0px;
  font-size: 12px;  
  text-align: left;
  vertical-align:middle;
  white-space: nowrap;
  width:100%;
  padding-left: 160px;
  padding-bottom: 5px; /* marge intérieure basse */
  border-bottom: solid 1px #D8D8D8; /* trait inferieur */
  }
  
.tab /* onglets inactifs */
{
  margin:5px 5px 0px 5px ;  /*marge extérieure */
  padding:5px 10px 5px 10px;  /*marge intérieure */
  color: #535353; /* gris */
}

a.tab  /* liens se trouvant dans un onglet inactif */
{
  text-decoration:none;
} 
  
 a.tab:hover  /* liens se trouvant dans un onglet inactif */
{
  text-decoration:none;
  background-color:#E4E4E4; /* gris moyen */
  } 
  
.tabActive /* onglet actif */
{
  background-color:white; /* le fond de l'onglet actif est blanc*/
   text-decoration:none;
   color: #535353;
   width:150px;
   border: solid 1px #D8D8D8;  /* encadrement */
   border-bottom:solid 3px white;  /*effacement trait inferieur pour onglet actif  */
   margin:5px 5px 0px 5px;
   padding: 5px 10px 5px 10px ; 
}
    
.menuHorizontal /* menu horizontal */
{
    position:absolute;
	top:0px;
	left:400px;
    font-size:14px;
}

.menuHorizontalLinkNotSelected
{
  background-color: transparent;
  color: white;
  text-decoration:none;
  padding-left:3px;
  padding-right:3px;
} 

.menuHorizontalLinkSelected
{
    background-color: White;
    color: #447592;
    text-decoration:none;
    padding-left:3px;
    padding-right:3px;
}

body
{
    margin-top: 0px;
    background-color: #F5F5F5;
    font-family: 'Tahoma';
    font-size:11px;
}

input
{
    font-family: 'Tahoma';
    font-size:11px;
}

.titleDetails
{
    color:Blue;
}

.noborder
{
	border:0px; 
}

.grise1
{
    background-color: white; 
}

.grise0
{
    background-color: #E4E4E4; 
}

nombre { text-align: right;}
.KO { background-color: lightcoral;}
.OK { background-color: lightgreen;}

.pertOK { background-color : lightyellow;}
.pertKO { background-color : red;}

.Regression{ background-color:tomato;}
.NotRegKO{ background-color:orange;}
.NotReplayedInRef { background-color:white;}

.Running { background-color:orange;}
.Finished { background-color:lightgreen;}
