/* General layout formatting */
.reportHeader 
{
    background-color: #ffffff;
    font-size : larger;
}

.table
{
    background-color: #ffffff;
    width: 660;
    border: solid 0 #000;
    border-bottom-width: 2px;
}

/* Title in blue strips */
.title
{
    color : White;
    font-weight :bold;
}

/* Analysis rows formatting */ 
.tdAnalysisTitle
{
    text-align: left;
    background-color : #3c1f81;
    border: solid 0 #000;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

/*  */ 
.tdReportTitle
{
    text-align: left;
    background-color : #7f95b7;
    border: solid 0 #000;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

/*  */ 
.tdSimTitle
{
    text-align: left;
    background-color : #6db3cd;
    border: solid 0 #000;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

/*  */ 
.tdObjectTitle
{
    text-align: left;
    background-color : #6e74bf;
    border: solid 0 #000;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.row
{
    text-align: center;
    border: solid 0 #000;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.tdDesc
{
    text-align: center;
    width: 290;
    background-color: #ffffff;
    border: solid 0 #000;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    font-weight :bold;
}

.tdParam
{
    text-align: center;
    width: 320;
    background-color: #ffffff;
    border: solid 0 #000;
    border-top-width: 1px;
    border-bottom-width: 1px;
    font-weight :bold;
}

.tdValue
{
    text-align: center;
    width: 50;
    background-color: #ffffff;
    border: solid 0 #000;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    font-weight :bold;
}

.tdDescBody
{
    border: solid 0 #000;
    background-color: #ffffff;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.tdParamEmpty
{
    background-color: #ffffff;
    border-right-width: 2px;
}

.tdValueEmpty
{
    background-color: #ffffff;
    border: solid 0 #000;
    border-right-width: 2px;
}

.rParam0
{
    background-color: #d9eafb;
    border: solid 0 #000;
    border-left-width: 0px;
    text-indent : 20px;
    text-align : left;
}

.rParam1
{
    background-color: #bfc7dd;
    border: solid 0 #000;
    border-left-width: 0px;
    text-indent : 20px;
    text-align : left;
}

.rValue0
{
    background-color: #d9eafb;
    text-align : center;
    border: solid 0 #000;
    border-right-width: 2px;
    font-weight :bold;
    
}
.rValue1
{
    background-color: #bfc7dd;
    text-align : center;
    border: solid 0 #000;
    border-right-width: 2px;
    font-weight :bold;
    
}

/* Rula cell Color  */
.Red
{
    background-color: #e14949;
    border: solid 0 #000;
    border-right-width: 2px;
    font-weight :bold;
    text-align : center;
}
.Yellow
{
    background-color: #eaf96d;
    border: solid 0 #000;
    border-right-width: 2px;
    font-weight :bold;
    text-align : center;
}
.Orange
{
    background-color: #f2ad41;
    border: solid 0 #000;
    border-right-width: 2px;
    font-weight :bold;
    text-align : center;
}
.Green
{
    background-color: #94d98d;
    border: solid 0 #000;
    border-right-width: 2px;
    font-weight :bold;
    text-align : center;
}

/* Vision analysis formatting */
.tdImageTitle
{
    border: solid 0 #000;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 1px;
    border-bottom-width: 0px;
}
.tdImage
{
    border: solid 0 #000;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
