/* Manage fonts : */
@font-face {
    font-family: "3ds";
    font-style: normal;
    font-weight: 300;
    src: url("assets/fonts/3dslight.ttf") format("truetype");
}

/* Reset margin padding : */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, select, option, textarea, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}

/* Manage title  */
h1 {
    line-height:50px;
    padding-left: 65px;
    font-family: "3ds";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #5b5d5e;
    background-color: #fff;
    border-bottom: solid 1px #b4b6ba;
}

div.panel-body {
    padding: 15px 0 0 0;
}

/* Manage panel */
.center {
    margin: auto;
    width: 210px;
}

div.panel-body ul li {
    margin-bottom: 0px;
    text-align: left;
}

ul {
    list-style-type: none;
}

.panel-body label {
    display: block;
    font-weight: bold;
    color: #3A3A3A;
    padding-bottom: 6px;
}

.panel-body input {
    border: 1px solid #5A5A5A;
    border-radius: 3px;
    margin-bottom: 12px;
    padding: 5px 2px;
    width: 200px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}

.image-float {
float:left;
}

/* Manage Button */
#myButon {
    color: #5B5D5E;
    border: 1px solid #B4B6BA;
    border-radius: 2px;
    padding: 0px 5px;
    min-width: 26px;
    height: 26px;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 10px;
    float: right;
}

#dashboardButton {
    color: white;
    border: 1px solid #B4B6BA;
    border-radius: 2px;
    padding: 10px 0px ;
    min-width: 26px;
    height: 40px;
    background-color: #005685;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    width: 206px;
}

#myButon:hover {
    background-color: #E6E8EA;
}

#myButon:active {
    background-color: #3C98CF;
    color: #FFF;
}

