.fallback-error-compass .logo {
    height: 166px;
    margin-bottom: 30px;
}

.fallback-error-compass .title {
    font-size: 24px;
    font-family: 'Arial';
    font-weight: bold;
    color: #b4b6ba;
}

.fallback-error-compass .message {
    margin-top: 15px;    
    font-size: 18px;
    font-family: 'Arial';
    color: #b4b6ba;
}

.centered {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 45%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
  }
