BBODY {background: #FFFFFF; color:#000080;}
A:link    {color:rgb(0,0,212);}
A:visited {color:rgb(102,0,128);}
A:hover   {background:rgb(222,98,113); color:#FFFFFF}
A:active  {color:#FF0000}

.title_doc {  font-family: Garamond; font-size: 20pt; text-align: center; font-weight: bold; color: #000080}

TH.title_cnx {font-family: Garamond;font-size: 15pt; text-align: center;background: #0000FF; color: #FFFFFF}
TABLE.cnx {width: 100%;}
TH.cnx {font-family: Garamond;font-size: 12pt; text-align: left; font: italic; background: #0000FF; color: #FFFFFF}
TH.cnx_bns1 {font-family: Garamond;font-size: 12pt; text-align: left; background: #9966FF; color: #FFFFFF}
TH.cnx_bns2 {font-family: Garamond;font-size: 12pt; text-align: left; background: #9999FF; color: #FFFFFF}
TH.cnx_yes {font-family: Garamond;font-size: 12pt; text-align: center; background: #66FF66; color: #FFFFFF}
TH.cnx_no {font-family: Garamond;font-size: 12pt; text-align: center; background: #FF3333; color: #FFFFFF}
TH.cnx_KO {font-family: Garamond;font-size: 12pt; text-align: left; background: #CC3300; color: #FFFFFF}
TH.cnx_OK {font-family: Garamond;font-size: 12pt; text-align: left; background: #339900; color: #FFFFFF}
TH.cnx_KONoUpdate {font-family: Garamond;font-size: 12pt; text-align: left; background: #66FF33; color: #FFFFFF}
TR.cnx1 {background: #D0D0FF; color: #000000; padding: 0 0 0 0; margin: 0 0 0 0}
TR.cnx2 {background: #BCBCF4; color: #000000; padding: 0 0 0 0; margin: 0 0 0 0}
TD.name {}
